body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}

/* Canvas stuff */

:root {
  --element-scale: 1;
}

body,
html {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

canvas {
  display: block;
}

.world-element {
  top: 0;
  left: 0;
  position: absolute;
  will-change: tranform;
  transform: translate3d(var(--element-screenX), var(--element-screenY), 0) translate(-50%, -50%) scale(var(--element-scale));
}

/* Temporary styles for displaying circle */
.world-element {
  background: rgba(38, 36, 27, 0.75);
  width: var(--element-width);
  min-height: var(--element-min-height);
  border-radius: 0.5rem;
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* Editor */

.editor-placeholder {
  color: #e1d6d6;
  overflow: hidden;
  position: absolute;
  top: 10px;
  left: 10px;
  user-select: none;
  pointer-events: none;
}

.editor-paragraph {
  margin: 0 0 2px 0;
  position: relative;
}

.editor-root {
  flex: 1;

  &:focus-within {
    outline: none;
  }
}
